# Giles will not run unless you provide a valid version of this
# configuration file as 'giles.conf' in the same directory as
# giles.py.

[server]

# source_url is a URL pointing to where players can get a copy of your
# particular customizations to Giles.  You may /not/ set this to the
# main Giles Git repository if you have made /ANY/ changes to Giles;
# to satisfy the AGPL, you /must/ provide access to your modified
# source.  THIS IS THE SOLE CONFIGURATION OPTION THAT MUST BE SPECIFIED.
# Giles will /not/ start if it is not set.
#
# source_url = http://this.is.not.valid

# name is a nice printable name for the server, seen when the users log
# in.  It defaults to 'Giles' if not set.
#
# name = Awesometowne

# admin_password is a password that any (!) player can use to gain
# administrative access.  Because Giles is telnet-based, it is /strongly/
# suggested that you only enter this password over a localhost connection.
# If admin_password is not set, no user can gain administrative access.
# The password cannot have spaces.
#
# admin_password = pleasehackme

[games]

# For every game that you want loaded as part of this Giles instance, you
# need a key = value pair here.  The key is the name of the game as it will
# be called on the server (via "game new"); the value is the actual Python
# module-and-class path to get the table-instantiation object used to make
# new tables of that game.  If no games are given here, no games will be
# available.
#
# rps = games.rock_paper_scissors.rock_paper_scissors.RockPaperScissors
